In [1]:
import pandas as pd
import csv
import os
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Priya
year_list = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]
for year in year_list:
    sample_df = zillow_df.filter(like=str(year), axis=1)
    testing1_df[year] = sample_df.mean(axis=1)
    pd.options.display.float_format = '{:.2f}'.format
testing1_df.head(10)

import glob
# for now put in local path below...
#file_location = os.path.join('Raw Data','*.csv')
print(file_location)
filenames = glob.glob(file_location)
print(filenames)

In [2]:
csvpath = "State_bdrmcnt1_rawdata.csv"

print(csvpath)

State_bdrmcnt1_rawdata.csv

In [3]:
zillow_df = pd.read_csv(csvpath)
zillow_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/1996,...,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,107876.0,...,689319,688401,687989,686916,685278,682705,681110,680490,681329,681740
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,107928.0,...,217151,217353,217807,218778,220062,221396,222713,224034,225383,226155
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,179075.0,...,764479,762927,763024,762572,762335,762696,764745,766037,768289,769852
3,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,123763.0,...,246589,246965,247455,247958,248226,248181,248364,249036,250130,250644
4,91940,5,77449,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,85415.0,...,137762,138753,139456,140111,140617,142016,143976,146953,149562,151943

In [4]:
zillow_df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '1/31/1996',
       ...
       '4/30/2020', '5/31/2020', '6/30/2020', '7/31/2020', '8/31/2020',
       '9/30/2020', '10/31/2020', '11/30/2020', '12/31/2020', '1/31/2021'],
      dtype='object', length=310)

In [5]:
housing_df = zillow_df.loc[:,["State"]]
housing_df.head()

  State
0    NY
1    IL
2    NY
3    IL
4    TX

In [6]:

housing_df["2020"] = (zillow_df["1/31/2020"] + zillow_df["2/29/2020"] + zillow_df["3/31/2020"] + zillow_df["4/30/2020"] + zillow_df["5/31/2020"] + zillow_df["6/30/2020"] + zillow_df["7/31/2020"] + zillow_df["8/31/2020"] + zillow_df["9/30/2020"] + zillow_df["10/31/2020"] + zillow_df["11/30/2020"] + zillow_df["12/31/2020"])/12
housing_df["2019"] = (zillow_df["1/31/2019"] + zillow_df["2/28/2019"] + zillow_df["3/31/2019"] + zillow_df["4/30/2019"] + zillow_df["5/31/2019"] + zillow_df["6/30/2019"] + zillow_df["7/31/2019"] + zillow_df["8/31/2019"] + zillow_df["9/30/2019"] + zillow_df["10/31/2019"] + zillow_df["11/30/2019"] + zillow_df["12/31/2019"])/12
housing_df["2018"] = (zillow_df["1/31/2018"] + zillow_df["2/28/2018"] + zillow_df["3/31/2018"] + zillow_df["4/30/2018"] + zillow_df["5/31/2018"] + zillow_df["6/30/2018"] + zillow_df["7/31/2018"] + zillow_df["8/31/2018"] + zillow_df["9/30/2018"] + zillow_df["10/31/2018"] + zillow_df["11/30/2018"] + zillow_df["12/31/2018"])/12
housing_df["2017"] = (zillow_df["1/31/2017"] + zillow_df["2/28/2017"] + zillow_df["3/31/2017"] + zillow_df["4/30/2017"] + zillow_df["5/31/2017"] + zillow_df["6/30/2017"] + zillow_df["7/31/2017"] + zillow_df["8/31/2017"] + zillow_df["9/30/2017"] + zillow_df["10/31/2017"] + zillow_df["11/30/2017"] + zillow_df["12/31/2017"])/12
housing_df["2016"] = (zillow_df["1/31/2016"] + zillow_df["2/29/2016"] + zillow_df["3/31/2016"] + zillow_df["4/30/2016"] + zillow_df["5/31/2016"] + zillow_df["6/30/2016"] + zillow_df["7/31/2016"] + zillow_df["8/31/2016"] + zillow_df["9/30/2016"] + zillow_df["10/31/2016"] + zillow_df["11/30/2016"] + zillow_df["12/31/2016"])/12
housing_df["2015"] = (zillow_df["1/31/2015"] + zillow_df["2/28/2015"] + zillow_df["3/31/2015"] + zillow_df["4/30/2015"] + zillow_df["5/31/2015"] + zillow_df["6/30/2015"] + zillow_df["7/31/2015"] + zillow_df["8/31/2015"] + zillow_df["9/30/2015"] + zillow_df["10/31/2015"] + zillow_df["11/30/2015"] + zillow_df["12/31/2015"])/12
housing_df["2014"] = (zillow_df["1/31/2014"] + zillow_df["2/28/2014"] + zillow_df["3/31/2014"] + zillow_df["4/30/2014"] + zillow_df["5/31/2014"] + zillow_df["6/30/2014"] + zillow_df["7/31/2014"] + zillow_df["8/31/2014"] + zillow_df["9/30/2014"] + zillow_df["10/31/2014"] + zillow_df["11/30/2014"] + zillow_df["12/31/2014"])/12
housing_df["2013"] = (zillow_df["1/31/2013"] + zillow_df["2/28/2013"] + zillow_df["3/31/2013"] + zillow_df["4/30/2013"] + zillow_df["5/31/2013"] + zillow_df["6/30/2013"] + zillow_df["7/31/2013"] + zillow_df["8/31/2013"] + zillow_df["9/30/2013"] + zillow_df["10/31/2013"] + zillow_df["11/30/2013"] + zillow_df["12/31/2013"])/12
housing_df["2012"] = (zillow_df["1/31/2012"] + zillow_df["2/29/2012"] + zillow_df["3/31/2012"] + zillow_df["4/30/2012"] + zillow_df["5/31/2012"] + zillow_df["6/30/2012"] + zillow_df["7/31/2012"] + zillow_df["8/31/2012"] + zillow_df["9/30/2012"] + zillow_df["10/31/2012"] + zillow_df["11/30/2012"] + zillow_df["12/31/2012"])/12
housing_df["2011"] = (zillow_df["1/31/2011"] + zillow_df["2/28/2011"] + zillow_df["3/31/2011"] + zillow_df["4/30/2011"] + zillow_df["5/31/2011"] + zillow_df["6/30/2011"] + zillow_df["7/31/2011"] + zillow_df["8/31/2011"] + zillow_df["9/30/2011"] + zillow_df["10/31/2011"] + zillow_df["11/30/2011"] + zillow_df["12/31/2014"])/12
housing_df["2010"] = (zillow_df["1/31/2010"] + zillow_df["2/28/2010"] + zillow_df["3/31/2010"] + zillow_df["4/30/2010"] + zillow_df["5/31/2010"] + zillow_df["6/30/2010"] + zillow_df["7/31/2010"] + zillow_df["8/31/2010"] + zillow_df["9/30/2010"] + zillow_df["10/31/2010"] + zillow_df["11/30/2010"] + zillow_df["12/31/2010"])/12


housing_df.head(10)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,NY,685897.333333,702898.833333,731432.750000,736360.250000,707325.416667,692174.333333,652846.000000,601978.333333,577255.166667,581525.333333,524230.333333
1,IL,219304.000000,217292.500000,220843.916667,216489.166667,209737.250000,205508.166667,204526.833333,188592.916667,178664.083333,193754.666667,211172.750000
2,NY,765217.333333,788139.583333,823293.500000,845226.416667,855036.166667,845258.833333,808760.166667,712712.500000,661195.166667,667988.833333,623403.750000
3,IL,247461.333333,249244.583333,251728.916667,248256.416667,241497.333333,236109.916667,231354.750000,219404.666667,207400.750000,220903.916667,234486.416667
4,TX,140585.333333,134669.083333,128352.416667,120752.416667,117556.750000,109236.250000,97141.000000,86292.583333,80351.833333,89537.333333,95503.250000
5,NY,691528.000000,683216.833333,720380.166667,717912.083333,676982.750000,591591.583333,528198.833333,499638.750000,468081.416667,485026.416667,440757.833333
6,TX,77342.333333,75870.583333,73542.250000,69223.166667,60859.166667,53404.583333,48337.083333,40566.333333,36659.083333,41344.250000,43554.583333
7,TX,128135.416667,124395.916667,118201.166667,115280.333333,111521.916667,108556.583333,109848.083333,108289.833333,106396.833333,107918.916667,109368.000000
8,IL,150918.916667,147019.750000,146617.666667,142693.833333,133810.833333,129066.666667,126133.000000,114800.083333,107319.500000,122307.916667,139970.000000
9,NY,460136.250000,463132.333333,459437.166667,435768.000000,419608.666667,387594.000000,355831.166667,339689.916667,330333.916667,331710.250000,351179.833333

In [18]:

# next step would be to group and combine by state
sample_df = housing_df.groupby(["State"]).mean()
###sample_df = housing_df["State"].value_counts()
sample_df.index.rename('State', inplace=True)
#testing_df = testing_df.round(2)
#testing_df.head()
sample_df.head()

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
State,,,,,,,,,,,
AK,169736.94,164406.32,157116.72,155622.97,153444.52,152368.55,147707.57,144354.59,142863.49,143090.60,144214.07
AL,108557.55,103334.23,98194.28,94292.95,93334.01,91975.92,92819.26,94990.46,92526.13,91979.98,99083.75
AR,88558.37,85563.69,75218.33,72757.06,69872.49,67505.18,66559.63,64938.81,63783.54,64234.59,64616.53
AZ,174203.81,160349.16,151209.64,139917.85,131522.43,127110.43,121071.00,113580.44,100423.23,100977.32,112804.54
CA,424569.33,408307.62,403076.38,369501.15,344654.29,320018.05,300322.61,272968.00,237620.90,245200.84,257629.46

AttributeError: module 'matplotlib.pyplot' has no attribute 'figsize'